{% extends "base.html" %}

{% block title %}
添加物品
{% endblock %}

{% block content %}
<!-- Input group addons -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">添加物品</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <!--                <li><a data-action="collapse"></a></li>-->
                <!--                <li><a data-action="reload"></a></li>-->
                <!--                <li><a data-action="close"></a></li>-->
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <p class="content-group-lg">
            选择对应的服务器给指定角色添加对应物品
        </p>

        <form class="form-horizontal" action="#">
            <fieldset class="content-group">
                <legend class="text-bold">Text addon</legend>

                <div class="form-group">
                    <label class="control-label col-lg-2">角色ID</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            <input type="text" class="form-control" placeholder="角色ID">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">服务器</label>
                    <div class="col-lg-10">
                        <div class="form-group">
                            <select class="select-search">
                                <option value="1">本电脑</option>
                                <option value="2">本地服务器</option>
                                <option value="3">测试服务器</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">背包</label>
                    <div class="col-lg-10">
                        <div class="form-group">
                            <select class="select-search">
                                <option value="0">天道背包</option>
                                <option value="1">我的星球</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">物品</label>
                    <div class="col-lg-10">
                        <select class="select-search">
                            <optgroup label="Mountain Time Zone">
                                <option value="0">天道背包</option>
                                <option value="1">我的星球</option>
                            </optgroup>
                        </select>
                    </div>
                </div>


            </fieldset>
        </form>
    </div>
</div>
<!-- /input group addons -->

{% endblock %}